.display-cart {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.added-cart {
    display: flex;
    align-items: middle;
    justify-content: space-evenly;
    justify-items: middle;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    gap: 5px;
    margin: 10px auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px;
    background-color: orange;
}

.added-cart h4 {
    font-weight: bold;
    font-size: medium;
    margin: auto;
    border-radius: 5px;
}

.added-cart p {
    background-color: burlywood;
    margin: auto;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.added-cart img {
    height: 150px;
    border-radius: 10px;
    border: 2px solid gray;
}

.added-cart button {
    border: none;
    color: white;
    background-color: orange;
    border-radius: 50%;
    padding: 5px 5px;
    margin: auto;
}

.added-cart button:hover {
    background-color: red;
    color: black;
}

.cart-quantity {
    display: flex;
}

.cart-quantity p {
    padding: 0px 7px;
    border-radius: 0px;
    cursor: pointer;
    color: black;
    background-color: gray;
}

@media only screen and (max-width:576px) {
    .added-cart {
        width: 100%;
    }

    .added-cart img {
        height: 50px;
    }
}

@media only screen and (min-width:577px) and (max-width:960px) {
    .added-cart {
        width: 100%;
    }

    .added-cart img {
        height: 45px;
    }
}

@media only screen and (min-width:961px) and (max-width:1600px) {
    .added-cart {
        width: 100%;
    }

    .added-cart img {
        height: 100px;
    }
}