.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(243, 217, 183);
    margin-bottom: 0px;
    height: 70px;
}

.header-container img {
    width: 120px;
    padding: 10px;
}

.link a:not(.cart) {
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    background-color: red;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
}

.link a:hover:not(.cart) {
    background-color: darkorange;
    color: black;
}

.cart {
    margin-right: 20px;
    color: black;
    font-size: large;
    position: relative;
}

.cart p {
    display: inline;
    position: absolute;
    top: -15px;
    left: 15px;
    border-radius: 50%;
    background-color: orange;
    padding: 0px 3px;
}

.cart :hover {
    color: red;
}

.toggle-header {
    border: none;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    background-color: red;
    font-family: arial;
    display: inline;
    margin-right: 20px;
}

.toggle-header:hover {
    background-color: darkorange;
    color: white;
}

@media only screen and (max-width:576px) {
    .header-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 80px;
    }

    .link {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:577px) and (max-width:960px) {
    .header-container {
        width: 100%;
    }
}

@media only screen and (min-width:961px) and (max-width:1600px) {
    .header-container {
        width: 100%;
        height: 90px;
    }
}