.display {
  text-align: center;
  margin: 0;
  position: relative;
  width: 100%;
  margin-bottom: 70px;
}

.header-display {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer-display {
  background-color: rgb(50, 50, 50);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

@media only screen and (max-width:576px) {
  .display {
    width: 100%;
  }
}

@media only screen and (min-width:577px) and (max-width:960px) {
  .display {
    width: 100%;
  }
}

@media only screen and (min-width:961px) and (max-width:1600px) {
  .display {
    width: 100%;
  }
}