/* .home-part2 {
    background-image: url('../../../images/bannerbackground.png');
    background-repeat: round;
    width: 100%;
    height: 600px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 90px;
} */

/* .home-part2 h2 {
    font-family: monospace;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
} */

.carousel {
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;
}

.carousel h2 {
    font-family: monospace;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
}

.carousel p {
    font-family: monospace;
    font-weight: 500;
    color: khaki;
}

.home-part1 {
    margin-top: 100px;
    text-align: center;
}

.current-time {
    font-family: monospace;
    font-weight: 500;
    background-color: burlywood;
    padding: 0 5px;
    color: black;
    width: 50%;
    margin: 0 auto;
    border-radius: 3px;
}

marquee {
    margin: 10px 100px;
}

.open-details {
    font-family: monospace;
    font-weight: 500;
    background-color: burlywood;
    padding: 0 5px;
    color: black;
    border-radius: 3px;
}

.blink_text {
    animation: 1s blinker linear infinite;
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;
    color: red;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

/* .open-details {
    animation-duration: 5s;
    animation-name: slideIn;
    animation-iteration-count: infinite;
    animation-direction: right;
}

@keyframes slideIn {
    0% {
        margin-right: 50%;
        width: 100%;
        transform: translateX(100%)
    }

    100% {
        margin-left: 50%;
        width: 100%;
        transform: translateX(-100%);
    }
} */

.home-part1 h4 {
    font-family: monospace;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    width: 50%;
    margin: auto;
    font-size: large;
    font-weight: bold;
}

.link-display {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.link-display a {
    margin-left: 10px;
    text-decoration: none;
    color: red;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3px;
    border-radius: 5px;
}

.link-display a:hover {
    color: black;
}

@media only screen and (max-width:576px) {
    .carousel {
        margin-top: 110px;
    }

    .carousel img {
        height: 250px;
        width: 100%;
    }

    .home-part1 h4 {
        font-family: monospace;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        width: 50%;
        margin: auto;
    }
}

@media only screen and (min-width:577px) and (max-width:960px) {
    .home-part2 {
        width: 100%;
        height: 300px;
    }

    .home-part1 h4 {
        font-family: monospace;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        width: 50%;
        margin: auto;
    }
}

@media only screen and (min-width:961px) and (max-width:2400px) {
    .home-part2 {
        width: 100%;
        height: 600px;
    }

    .home-part1 h4 {
        font-family: monospace;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        width: 50%;
        margin: auto;
    }
}